* {
    background-color: rgb(158, 241, 202);
    font-family: 'Courier New', Courier, monospace;
}

.col-2 {
    margin-left: 20px;
}

.col-8 { 
   margin-left: 600px;
   margin-top: 200px;
}

h1 { font-size: 75px;

}

#carlos {
    font-size: 55px;
}

